@keyframes moveDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(150px);
  }
}

@keyframes moveUp {
  from {
    transform: translateY(150px);
  }
  to {
    transform: translateY(0);
  }
}

/* Apply the class to animate the card */
.animate {
  animation: moveDown 0.5s ease-in-out alternate,
    moveUp 0.5s ease-in-out alternate;
}
